In [4]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
df1 = pd.read_csv("kc_house_data.csv")

In [6]:
df2 = pd.read_csv("zipcode_demographics.csv")

In [8]:
df2

,ppltn_qty,urbn_ppltn_qty,sbrbn_ppltn_qty,farm_ppltn_qty,non_farm_qty,medn_hshld_incm_amt,medn_incm_per_prsn_amt,hous_val_amt,edctn_less_than_9_qty,edctn_9_12_qty,...,per_farm,per_non_farm,per_less_than_9,per_9_to_12,per_hsd,per_some_clg,per_assoc,per_bchlr,per_prfsnl,zipcode
0,38249.0,37394.0,0.0,0.0,855.0,66051.0,25219.0,192000.0,437.0,2301.0,...,0.0,2.0,1.0,6.0,18.0,20.0,5.0,12.0,4.0,98042
1,22036.0,22036.0,0.0,0.0,0.0,91904.0,53799.0,573900.0,149.0,404.0,...,0.0,0.0,0.0,1.0,6.0,12.0,3.0,27.0,22.0,98040
2,18194.0,18194.0,0.0,0.0,0.0,61813.0,31765.0,246600.0,269.0,905.0,...,0.0,0.0,1.0,4.0,13.0,20.0,6.0,19.0,9.0,98028
3,21956.0,21956.0,0.0,0.0,0.0,47461.0,22158.0,175400.0,925.0,1773.0,...,0.0,0.0,4.0,8.0,20.0,21.0,5.0,12.0,4.0,98178
4,22814.0,22814.0,0.0,0.0,0.0,48606.0,28398.0,252600.0,599.0,1148.0,...,0.0,0.0,2.0,5.0,13.0,17.0,5.0,23.0,12.0,98007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,35140.0,35021.0,0.0,0.0,119.0,81929.0,41856.0,335900.0,212.0,865.0,...,0.0,0.0,0.0,2.0,8.0,15.0,4.0,27.0,15.0,98006
66,23926.5,23298.0,0.0,0.0,0.0,56933.0,27639.5,239850.0,406.0,1213.0,...,0.0,0.0,1.0,5.0,15.0,19.0,5.0,19.0,7.5,98074
67,23926.5,23298.0,0.0,0.0,0.0,56933.0,27639.5,239850.0,406.0,1213.0,...,0.0,0.0,1.0,5.0,15.0,19.0,5.0,19.0,7.5,98077
68,23926.5,23298.0,0.0,0.0,0.0,56933.0,27639.5,239850.0,406.0,1213.0,...,0.0,0.0,1.0,5.0,15.0,19.0,5.0,19.0,7.5,98030
69,23926.5,23298.0,0.0,0.0,0.0,56933.0,27639.5,239850.0,406.0,1213.0,...,0.0,0.0,1.0,5.0,15.0,19.0,5.0,19.0,7.5,98075

In [9]:
df3 = pd.merge(df1, df2, on = 'zipcode')

In [10]:
df3.to_csv('housing_demographics.csv')

In [11]:
df3

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,per_sbrbn,per_farm,per_non_farm,per_less_than_9,per_9_to_12,per_hsd,per_some_clg,per_assoc,per_bchlr,per_prfsnl
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0.0,0.0,0.0,4.0,8.0,20.0,21.0,5.0,12.0,4.0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,0.0,0.0,0.0,2.0,5.0,15.0,20.0,5.0,20.0,12.0
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,0.0,0.0,0.0,1.0,4.0,13.0,20.0,6.0,19.0,9.0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,0.0,0.0,0.0,1.0,3.0,13.0,20.0,7.0,25.0,12.0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,0.0,0.0,0.0,1.0,5.0,15.0,19.0,5.0,19.0,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,0.0,0.0,0.0,0.0,3.0,9.0,16.0,5.0,33.0,17.0
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,0.0,0.0,0.0,5.0,11.0,21.0,18.0,5.0,10.0,4.0
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,0.0,0.0,0.0,8.0,10.0,15.0,15.0,5.0,16.0,9.0
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,0.0,0.0,19.0,1.0,3.0,12.0,17.0,6.0,24.0,11.0
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,0.0,0.0,0.0,8.0,10.0,15.0,15.0,5.0,16.0,9.0

In [13]:
df3.set_index('zipcode', inplace = True)

In [14]:
df3

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,per_sbrbn,per_farm,per_non_farm,per_less_than_9,per_9_to_12,per_hsd,per_some_clg,per_assoc,per_bchlr,per_prfsnl
zipcode,,,,,,,,,,,,,,,,,,,,,
98178,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0.0,0.0,0.0,4.0,8.0,20.0,21.0,5.0,12.0,4.0
98125,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,0.0,0.0,0.0,2.0,5.0,15.0,20.0,5.0,20.0,12.0
98028,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,0.0,0.0,0.0,1.0,4.0,13.0,20.0,6.0,19.0,9.0
98136,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,0.0,0.0,0.0,1.0,3.0,13.0,20.0,7.0,25.0,12.0
98074,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,0.0,0.0,0.0,1.0,5.0,15.0,19.0,5.0,19.0,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98103,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,0.0,0.0,0.0,0.0,3.0,9.0,16.0,5.0,33.0,17.0
98146,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,0.0,0.0,0.0,5.0,11.0,21.0,18.0,5.0,10.0,4.0
98144,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,0.0,0.0,0.0,8.0,10.0,15.0,15.0,5.0,16.0,9.0
98027,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,0.0,0.0,19.0,1.0,3.0,12.0,17.0,6.0,24.0,11.0
98144,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,0.0,0.0,0.0,8.0,10.0,15.0,15.0,5.0,16.0,9.0